/*import google fonts Robot */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*Applies to the whole website
* {

}

/*Applies to the body */
body{
    font-family: 'Roboto', sans-serif;
}

/*Applies to the header */
header {
    background-color: #1f2937;
    padding: 1em 13em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


/*Applies to the Logo */
#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.nav ul{
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}


/*for unvisited links */
a:link{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none; /*removes underline from links*/
}
