/*import google fonts Robot */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*Applies to the whole website
* {

}

/*Applies to the body */
body{
    font-family: 'Roboto', sans-serif;
}

/*Applies to the header */
header {
    background-color: #1f2937;
    padding: 1em 13em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


/*Applies to the Logo */
#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

/* Applies to the list of links in the header */
.nav ul{
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}


/*for unvisited links */
a:link{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none; /*removes underline from links*/
}

/*Section One */
.section-one {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

/*Section one Left */
.section-one .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*Section one right */
.section-one .right {
    flex-shrink: 0;
    width: 50%;
}

/*hero-main-text */
.hero-main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

/*Sign Up Button */
button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882f6;
    border-radius: 8px;
}

.section-one button {
    border: none;
}

/*The main image */
.image {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
}

/*Main Card Section */
main {
 display:flex;
 flex-direction: column;
 align-items: center;
 padding: 0 13em;
 margin-top: 3em;

}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.four-image-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.square {
    border: 4px solid #3882f6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}